<article class="js-card app-card m-1 mb-2 p-2 bg-white rounded-sm app-cursor-pointer shadow-sm" title="Abrir la tarjeta">
  <div>
    <span class="badge badge-secondary bg-success">JS</span>
    <span class="badge badge-secondary bg-success">Css</span>
    <span class="badge badge-secondary bg-success">Html</span>
  </div>

  <div>
    <h3 class="h6">@@title</h3>
  </div>

  <div class="text-black-50">
    <small class="pr-2 fas fa-align-left"></small>
    <small class="far fa-check-square"></small>
    <small title="Subtareas completadas: 3 de 5">3/5</small>
  </div>

  <div class="app-card-btns btn-group-vertical btn-group-sm">
    <button type="button" class="btn btn-light text-muted border shadow-sm app-card-move-up" title="Mover esta tarjeta hacia abajo">
      <span class="fas fa-arrow-up"></span>
    </button>
    <button type="button" class="btn btn-light text-muted border shadow-sm app-card-move-down" title="Mover esta tarjeta hacia arriba">
      <span class="fas fa-arrow-down"></span>
    </button>
  </div>
</article>
